<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/booking.css">
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
    <title>Book Now</title>
</head>

<body>
    <div class="bookingContainer">
        <section class="bookingForm">
            Booking account name: {{user.username|capfirst}}
            <form method="POST" class="paymentForm">
                {% csrf_token %}
                <input type="text" name="booking_type" placeholder="Booking Title" class="bookingType inputField"
                    value="{{booking_type}}" readonly><br>
                <input type="text" name="phone_number" placeholder="Phone Number" class="phoneNumber inputField"><br>
                <input type="text" name="number_of_people" placeholder="Number of people"
                    class="numberOfPeople inputField"><br>
                <input name="start_day" type="date" class="checkInCalendar"><br>
                <select onchange="optionChanged()" name="payment_type" class="paymentOption" id="">
                    <option value="CIF">Cash in Front</option>
                    <option value="khalti">Khalti</option>
                </select><br>
                <input type="Submit" placeholder="Submit" class="paymentSubmitBtn">
            </form>
        </section>
    </div>
</body>
<script>

    var config = {
        "publicKey": "test_public_key_016444544f9b4b578b893d5662f9f5ea",
        "productIdentity": "1234567890",
        "productName": "Dragon",
        "productUrl": "http://gameofthrones.wikia.com/wiki/Dragons",
        "paymentPreference": [
            "KHALTI",
            "EBANKING",
            "MOBILE_BANKING",
            "CONNECT_IPS",
            "SCT",
        ],
        "eventHandler": {
            onSuccess(payload) {
                console.log(payload);
            },
            onError(error) {
                console.log(error);
            },
            onClose() {
                console.log('widget is closing');
            }
        }
    };

    var checkout = new KhaltiCheckout(config);
    var btn = document.getElementById("payment-button");


    function optionChanged() {
        option = document.querySelector('.paymentOption')
        console.log(option.value)

        if (option.value === 'khalti') {
            checkout.show({ amount: 1000 });
        }
    }
</script>

</html>