footer {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid gray;
    background-color: white;
}

.socialNetwork {
    width: 100%;
    display: flex;
    padding-bottom: 0.4rem;
    justify-content: space-evenly;
}

@media (width > 48rem) and (width < 75rem) {
    footer{
        position: sticky;
        bottom: 0px;
    }
}

@media (width > 75rem) {
    footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .socialNetwork {
        width: 20%;
        display: flex;
        align-items: center;
    }
}