{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/footer.css">
</head>

<body>
    <footer>
        <img src="/static/images/logo.svg" alt="Logo ALLTRAILS" height="20">
        <p>Copyright 2022</p>
        <div class="socialNetwork">
            <img src="/static/images/instagram.svg" alt="Instagram Icon" height="20">
            <img src="/static/images/fb.svg" alt="Instagram Icon" height="20">
            <img src="/static/images/twitter.svg" alt="Instagram Icon" height="20">
        </div>
    </footer>
</body>

</html>